
<div class="menu">

    <div class="item" routerLink="" [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="'active'">

      <i class="fa-solid fa-house"></i>
      <span>Home</span>
    </div>

    <div  class="item"  routerLink="malayalam" [routerLinkActive]="'active'">
      <i class="fa-solid fa-language"></i>
      <span>Malayalam</span>
    </div>

    <div  class="item"  routerLink="hindi" [routerLinkActive]="'active'">
      <i class="fa-solid fa-language"></i>
      <span>Hindi</span>
    </div>

    <div  class="item"  routerLink="english" [routerLinkActive]="'active'">
      <i class="fa-solid fa-language"></i>
      <span>English</span>
    </div>

    <div  class="item" routerLink="add-songs" [routerLinkActive]="'active'">
      <i class="fa-solid fa-layer-group"></i>
      <span>Add Songs</span>
    </div>
    
  </div>
