@import '~@fortawesome/fontawesome-free/css/all.css';

$theme-color:#59deea;

/* styles.scss */



// FONTS
// font-family: 'Aclonica', sans-serif;
// font-family: 'Atkinson Hyperlegible', sans-serif;
// font-family: 'Chela One', cursive;
// font-family: 'Dhurjati', sans-serif;
// font-family: 'Marko One', serif;
// font-family: 'Merienda', cursive;
// font-family: 'Padauk', sans-serif;
// font-family: 'Tapestry', cursive;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // transition: 0.3s all ease-in-out;
}
